.add-questions-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100%; 
  }
  
  mat-form-field {
    width: 60%; 
  }

  button {
   
    &:disabled {
      background-color: #b9b9b9; 
      color: #777777;
      cursor: not-allowed;
    }
  }